
## 安装所有依赖（包括 python-telegram-bot 22.5）
#pip install psutil python-dotenv aiosqlite tencentcloud-sdk-python python-telegram-bot==22.5
psutil==7.1.3
python-dotenv==1.2.1
python-telegram-bot==22.5
aiosqlite==0.22.0
tencentcloud-sdk-tmt